.header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header ul{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5rem;
}
.header li{
    list-style: none;
    cursor: pointer;
}


.header ul a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.header ul a:hover,
.header ul a.active {
    color: red;
}